













<div class="container">
    <br />




    <div class="paddingtop btn-group-toggle btn-group">

        <button id="navKurser" class="btn btn-primary" type="submit">Kurser</button>
        <button id="navAddNewStudent" class="btn btn-primary" type="submit">Ny kurs</button>
        <button id="navStudenter" class="btn btn-primary" type="submit">Studenter</button>

    </div>


    <hr />




    <div id="panel1" class="panel panel-primary">
        <div class="panel-heading">Kurser</div>
        <br />

        <div class="container">
            <div class="row">

                <div class="col-lg-10">








                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    
                                </th>
                                <th>
                                    
                                </th>
                                <th>
                                    
                                </th>
                                <th>
                                    
                                </th>
                                <th>
                                    
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>


                            
                                <tr>
                                    <td>
                                        
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td>
                                       
                                    </td>
                                    <td>
                                       
                                </tr>
                            
                        </tbody>
                    </table>


















                </div><!--col-lg-10 end-->
            </div><!--row end-->

        </div>

    </div> <!--Panel End-->


    <div id="panel2" class="panel panel-primary">
        <div class="panel-heading">Studenter</div>

        <br />
        <div class="container">
            <div class="row">

                <div class="col-lg-10">




                    <span class="badge badge-light">Studenter</span>

                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown button
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <ol>
                                <li>Elev 1</li>
                                <li>Elev 2</li>
                                <li>Elev 3</li>
                                <li>Elev 4</li>
                            </ol>
                        </div>

                    </div>







                    <span class="badge badge-light">Kurs</span>

                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown button
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <ol>
                                <li>Kurs 1</li>
                                <li>Kurs 2</li>
                                <li>Kurs 3</li>
                                <li>Kurs 4</li>
                            </ol>
                        </div>
                    </div>

                    <br />

                    <div class="form-group">
                        <input type="submit" value="Lägg till" class="btn btn-default" />
                    </div>


                    <div class="form-group">
                        <input type="submit" value="Avregistrera" class="btn btn-default" />
                    </div>

























                </div><!--col-lg-10 end-->
            </div><!--row end-->
        </div>

    </div> <!--Panel End-->


    <div id="panel3" class="panel panel-primary">


        <div class=" panel-heading ">
            Ny Kurs
            <div class="pull-right"><Button id="btnClose" class="nobg"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></Button></div>
        </div>


        <br />

        <div class="container">
            <div class="row">

                <div class="col-lg-10">


                    <form>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Namn</label>
                            <input type="text" class="form-control" id="kurser_Namn" placeholder="Example input">
                        </div>

                        <div class="form-group">
                            <label for="formGroupExampleInput">Poäng</label>
                            <input type="text" class="form-control" id="kurser_Poäng" placeholder="Example input">
                        </div>

                        <div class="form-group">
                            <label for="formGroupExampleInput">År</label>
                            <input type="text" class="form-control" id="kurser_År" placeholder="Example input">
                        </div>

                        <div class="form-group">
                            <label for="formGroupExampleInput">Termin</label>
                            <input type="text" class="form-control" id="kurser_Termin" placeholder="Example input">
                        </div>

                    </form>

                    <div class="col-lg-4 padding paddingbot">
                        <button type="submit" class="btn btn-success">Spara</button>

                    </div>










                    <table class="table">
                        <thead>
                            <tr>

                                <th scope="col">Namn</th>
                                <th scope="col">Poäng</th>
                                <th scope="col">Antal Studenter</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                <td></td>


                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td></td>


                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td></td>


                            </tr>
                        </tbody>
                    </table>




                </div><!--col-lg-10 end-->
            </div><!--row end-->
        </div>

    </div> <!--Panel End-->

</div><!--container end-->
<script>
    $("#panel2").hide();
    $("#panel3").hide();
    $("#navKurser").on("click", function () {



        $("#panel1").show();
        $("#panel2").hide();
        $("#panel3").hide();





    });
    $("#navAddNewStudent").on("click", function () {



        $("#panel2").hide();
        $("#panel1").hide();
        $("#panel3").show();


    });
    $("#navStudenter").on("click", function () {



        $("#panel2").show();
        $("#panel1").hide();
        $("#panel3").hide();


    });

    /* $("#navNyKurs").on("click", function () {



         $("#panel3").show();
         $("#panel1").hide();
         $("#panel2").hide();


     });*/

    $("#kurs_Slider").on("click", function () {



        $("#panel3").slideToggle();

        var icon = "<span class='glyphicon glyphicon-plus' aria-hidden='true'>";
        var $this = $(this);
        $this.toggleClass('open');

        var option1 = icon + ' Lägg till ny kurs';
        var option2 = ' Avbryt';

        if ($this.hasClass('open')) {
            $this.html(option1);
        } else {
            $this.html(option2);
        }

    });

    $("#btnClose").on("click", function () {



        $("#panel3").slideUp();


        $("#kurs_Slider").AddClass('open');

        //funkar inte

        if (!$('#kurs_Slider').hasClass('open')) {
            $('#kurs_Slider').addClass('open');
        }




    });






</script>






