
@{
    ViewData["Title"] = "Student";
}

@*A list of all students.*@
<div id="studentListPlaceholder">
    <div class="panel panel-default">
        <div class="panel-heading" style="overflow: auto">
            <div style="float: left; overflow: auto">Studenter</div>

            <div style="float: right; overflow: auto">+</div>
        </div>
        @*The add new or edit student form*@
        <div class="panel-body">
            <form id="studentListAddStudentForm">
                @*<input type="hidden" name="id" value="0" />*@
                <input type="hidden" name="active" value="false" />

                <div class="form-group form-input-container" style="float: left;">
                    <label>Förnamn</label>
                    <br />
                    <input type="text" name="firstName" class="form-control" />
                </div>
                <div class="form-group form-input-container" style="float: left;">
                    <label>Efternamn</label>
                    <br />
                    <input type="text" name="lastName" class="form-control" />
                </div>
                <div class="form-group form-input-container" style="float: left;">
                    <label>Personnummer</label>
                    <br />
                    <input type="text" name="ssn" class="form-control" />
                </div>
                <div class="form-group form-input-container" style="float: left;">
                    <label>&nbsp;</label>
                    <br />
                    <button type="submit" class="btn btn-success">Spara</button>
                    <button type="reset" class="btn btn-success">Rensa</button>
                </div>
            </form>
        </div>
        @*The search*@
        <div class="panel-body">
            <form id="searchStudentForm">

                <div class="form-group form-input-container" style="float: left;">
                    <label>&nbsp;</label>
                    <br />
                    <input type="text" name="searchCriteria" class="form-control" />
                </div>
                <div class="form-group form-input-container" style="float: left;">
                    <label>&nbsp;</label>
                    <br />
                    <button type="submit" class="btn btn-success">Sök</button>
                </div>
            </form>
        </div>
        @*The actual list of students*@
        <table id="studentListTable" class="table">
            <thead>
                <tr>
                    <th>Förnamn</th>
                    <th>Efternamn</th>
                    <th>Personnummer</th>
                    <th>Läser</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @*Content rows*@
            </tbody>
        </table>
    </div>
</div>

