

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 80px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

tr .edit, button.edit, tr.edit .noedit {
    display: none;
}

    tr.edit .edit {
        display: initial;
    }

input.edit {
    width: 50px;
}

.courseName {
    min-width: 200px;
}

.buttonContainer {
    display: flex;
    flex-wrap: nowrap;
}

.btn {
    margin: 1px;
}


.padding {
    padding: 10px;
}

.paddingtop {
    padding-top:8px;
}

.paddingtopbig {
    padding-top: 24px;
}

.paddingbot {
    padding-bottom: 20px;
}

.nobg {
    background-color:transparent;
    border: hidden;
}

.dropdownsUl {
    padding: 7px;
    list-style: none;
    font-size: 16px;
}


.dropdowns {
    border: 0;
    border-radius: 0.25rem;
    background: #f6f5f5;
    color: black;
    font-family: system-ui, sans-serif;
    font-size: 14px;
   
    white-space: nowrap;
    text-decoration: none;
    padding-top:5px;
    padding-left:5px;
    padding-bottom:5px;
    margin: 0.25rem;
}
.dropdowns a {
                  text-decoration: none;
              }

    .dropdowns a:hover {
      color: white;
    }


.dropdowns:hover {
    background-color: #e8dbdb;
    border-radius: 7px;

}





.dropdownsCourses {
    border: 0;
    border-radius: 0.25rem;
    background: #f6f5f5;
    color: black;
    font-family: system-ui, sans-serif;
    font-size: 14px;
    white-space: nowrap;
    text-decoration: none;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    margin: 0.25rem;
}

.dropdownsCourses a {
    text-decoration: none;
}

    .dropdownsCourses a:hover {
        color: white;
    }


.dropdownsCourses:hover {
    background-color: #e8dbdb;
    border-radius: 7px;
}


#panelGenerator ul {
    margin-right:37px;
}
